<%= form_for(@emp) do |f| %>
  <% if @emp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@emp.errors.count, "error") %> prohibited this emp from being saved:</h2>

      <ul>
      <% @emp.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :firstname %>
    <%= f.text_field :firstname %><br />
    <%= f.label :lastname %>
    <%= f.text_field :lastname %><br />
    <%= f.label :address %>
    <%= f.text_field :address %><br />
    <%= f.label :city %>
    <%= f.text_field :city %><br />
    <%= f.label :country %>
    <%= f.text_field :country %><br />
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
