<h1>Listing emps</h1>

<%= will_paginate @members %>

<table>
  <tr>
    <th>FirstName</th>
    <th>LastName</th>
    <th>Address</th>
    <th>City</th>
    <th>Country</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @emps.each do |emp| %>
  <tr>
    <td><%= emp.firstname %></td>
    <td><%= emp.lastname %></td>
    <td><%= emp.address %></td>
    <td><%= emp.city %></td>
    <td><%= emp.country %></td>
    <td><%= link_to 'Show', emp %></td>
    <td><%= link_to 'Edit', edit_emp_path(emp) %></td>
    <td><%= link_to 'Destroy', emp, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Emp', new_emp_path %><br>
<br>
<%= gmaps4rails(@json) %>
