<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @emp.firstname %>
  <%= @emp.lastname %>
  <%= @emp.address %>
  <%= @emp.city %>
  <%= @emp.country %>
</p>


<%= link_to 'Edit', edit_emp_path(@emp) %> |
<%= link_to 'Back', emps_path %>
