<!DOCTYPE html>
<html>
<head>
  <title>Willpag</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

	<ul class="hmenu">
	  <%= render 'devise/menu/signed_in_user' %>
	  <%= render 'devise/menu/registration_items' %>
	  <%= render 'devise/menu/login_items' %>
	</ul>
	
	<%= yield :head %>
	<%= yield %>
	<%= yield :scripts %>
	
</body>
</html>
